.box {
    text-align: center;
    transition: 1s;
    margin: 1rem 0;
    border: 1px solid #fff;
    padding: 10px;
}

.box svg {
    font-size: 2rem;
    width: 5rem;
    height: 5rem;
    background-color: rgb(255, 116, 4);
    padding: 10px;
    border-radius: 50%;
    color: #fff;
    margin-top: 1rem;
    border: 2px solid rgb(255, 116, 4);
    transition: 1s;
}
.box:hover svg{
    background-color: #fff;
    color: rgb(255, 116, 4);
}
.box:hover {
    border: 1px solid rgb(255, 116, 4);
    box-shadow: 0 2px 20px 0.2px rgb(255, 116, 4);
    cursor: pointer;
}

.enjoy {
    margin: 1rem 0;
    color: rgb(255, 116, 4);
}